<body class = 'new_body'>
  <h2> イベント編集 </h2>

  <% if flash[:notice] %>
    <div class = 'flash_notice' >
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= form_tag({ :controller => 'events', :action => 'update' }, { method: 'put' }) do %>

  <label class = 'new_event_label' >
    イベント内容
  </label>
  <div class = 'new_event_schedule' >
    <%= text_area_tag :schedule, @schedule, class: 'text_area' %>
  </div>

  <label class = 'event_date_label' >
    日時
  </label>
  <p class = 'new_event_date' >
    <%= text_field_tag :year, @array_date[0], class: 'text_field_year' %>
    年
    <%= text_field_tag :month, @array_date[1], class: 'text_field' %>
    月
    <%= text_field_tag :day, @array_date[2], class: 'text_field' %>
    日
  </p>

  <p>
    <div class = 'new_event_time'>
      <label class = 'time_label'>
        開始 :
      </label>
      <%= text_field_tag :start_hour, @array_start[0], class: 'text_field' %>
      :
      <%= text_field_tag :start_min, @array_start[1], class: 'text_field' %>
    </div>

    <div class = 'new_event_time'>
      <label class = 'time_label'>
        終了 :
      </label>
      <%= text_field_tag :end_hour, @array_end[0], class: 'text_field' %>
      :
      <%= text_field_tag :end_min, @array_end[1], class: 'text_field' %>
    </div>
  </p>

  <div class = 'new_event_button'>
    <button class = 'button'>
      編集
    </button>
  </div>

  <% end %>

  <div class = 'delete_event_button'>
    <p>
      <%= button_to "削除", delete_event_path(@id, params: {year: @array_date[0], month: @array_date[1]}), method: :delete, data: {confirm: "本当に削除しますか?"}, class: 'delete_button' %>
    </p>
  </div>

<body>
