<body class = 'new_body'>
  <h2> 新規イベント </h2>

  <% if flash[:notice] %>
    <div class = 'flash_notice' >
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= form_tag({ :controller => 'events', :action => 'create' }, { method: 'post' }) do %>

  <label class = 'new_event_label' >
    イベント内容
  </label>
  <div class = 'new_event_schedule' >
    <%= text_area_tag :schedule, @schedule, class: 'text_area' %>
  </div>

  <label class = 'event_date_label' >
    日時
  </label>
  <p class = 'new_event_date' >
    <%= text_field_tag :year, @year, class: 'text_field_year' %>
    年
    <%= text_field_tag :month, @month, class: 'text_field' %>
    月
    <%= text_field_tag :day, @day, class: 'text_field' %>
    日
  </p>

  <p>
    <div class = 'new_event_time'>
      <label class = 'time_label'>
        開始 :
      </label>
      <%= text_field_tag :start_hour, @start_hour, class: 'text_field' %>
      :
      <%= text_field_tag :start_min, @start_min, class: 'text_field' %>
    </div>

    <div class = 'new_event_time'>
      <label class = 'time_label'>
        終了 :
      </label>
      <%= text_field_tag :end_hour, @end_hour, class: 'text_field' %>
      :
      <%= text_field_tag :end_min, @end_min, class: 'text_field' %>
    </div>
  </p>

  <div class = 'new_event_button'>
    <button class = 'button'>
      追加
    </button>
  </div>

  <% end %>

</body>
