<body class = 'show_body'>
  <h2>
    My Schedule
    <%= link_to '新規イベント', new_event_path, class: "new_event"%>
  </h2>
  <table>
    <caption>
      <div class = "date">
    　  <%= @months_eng[@month] + " " + @year %>
      </div>
    </caption>
    <tr class = "week_label">
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <% first_day = Date.new(@year.to_i, @month.to_i, 1) %>
    <% sunday = first_day.beginning_of_week-1 %>
    <% (1..6).each do |i| %>
    <tr>
      <% (sunday..sunday + 6).each do |day| %>
        <% if (day == sunday) then %>
          <% if (day.strftime('%m').to_i == @month.to_i-1 && day.strftime('%d').to_i == day.end_of_month.strftime('%d').to_i-6) then break end %>
        <% end %>
        <% if (i == 6) then %>
          <% if (day == sunday) then %>
            <% if (day.strftime('%m').to_i == @month.to_i+1) then break end %>
          <% end %>
        <% end %>
        <td width="130" height="100" align="left" valign="top">
          <% if day.strftime('%m').to_i == @month.to_i then %>
          <div class = "day">
            <%= day.strftime('%d') %>
          </div>
          <% else %>
          <div class = "other_month">
            <%= day.strftime('%d').to_i %>
          </div>
          <% end %>
          <br>
          <% @response.each do |event| %>
            <% event_day = event["date"].split("-")[2] %>
            <% start_min = event["start"].split(":")[1] %>
            <% end_min = event["end"].split(":")[1] %>

          <% if day.strftime('%m') == @month && day.strftime('%d') == event_day then %>
          <div class = "events">
            <%= event["start"].to_time.hour.to_s + ":" + start_min + " ~ " + event["end"].to_time.hour.to_s + ":" + end_min %>
            <br>
            <%= link_to event["schedule"], edit_event_path(event["id"], event) %>
            <br>
          </div>
          <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% sunday += 7%>
    <% end %>
  </table>
</body>
