body.show_body {
  width: 950px;
  margin: 50px auto;
  font-family: Verdana;
}

body.new_body {
  width: 700px;
  margin: 50px auto;
  font-family: Verdana;
}

h2 {
  font-size: 45px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  position: relative;
}

.new_event {
  font-size: 15px;
  position: absolute;
	right: 0;
	bottom: 0;
}

.date {
  font-size: 55px;
  margin-right: 75px;
  padding-bottom: 15px;
}

table {
  width: 950px;
  background: #ffffff;
  border-collapse: separate;
  border: solid 3px;
  border-radius: 4px;
  border-spacing: 0;
  box-shadow: 0px 5px 8px rgba(5,5,50,0.5);
}

table tr td + td {
  border-left: solid 2px;
}

table tr + tr td {
  border-top: solid 2px;
}

.week_label {
  background: #00bfff55;
  width: 130px;
  height: 40px;
}

.other_month {
  color: #77889955;
}

tr td:nth-of-type(1) {
  background: #4682b411;
}

tr td:nth-of-type(7) {
  background: #4682b411;
}

.day {
  font-weight: bold;
}

.flash_notice {
  font-size: 23px;
  color: red;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  background: pink;
}

.new_event_label {
  font-size: 23px;
  margin-left: 80px;
  font-weight: 600;
}

.new_event_schedule {
  margin-top: 15px;
  margin-left: 80px;
}

.text_area {
  width: 500px;
  height: 50px;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  border: solid 1px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(5,5,50,0.3);
}

.event_date_label {
  font-size: 23px;
  margin-left: 80px;
  font-weight: 600;
}

p.new_event_date {
  margin-bottom: 15px;
  margin-left: 80px;
  font-weight: 600;
}

label.time_label {
  font-size: 23px;
  font-weight: 600;
  margin-right: 275px;
  margin-left: 90px;
}

div.new_event_time {
  font-weight: 600;
}

.text_field_year {
  width: 90px;
  height: 60px;
  margin: 10px;
  font-size: 30px;
  border: solid 1px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(5,5,50,0.3);
}

.text_field {
  width: 50px;
  height: 60px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  border: solid 1px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(5,5,50,0.3);
}

.new_event_button {
  text-align: right;
  margin: 50px;
  margin-right: 100px;
}

.button {
  font-size: 30px;
  font-weight: 600;
  border: solid 1px;
  border-radius: 2px;
  background: #00bfff55;
  box-shadow: 0px 2px 3px rgba(5,5,50,0.5);
}

.button:active {
  transform: translateY(2px);
  color: #000;
}

.events{
  font-weight: lighter;
}

.edit {
  font-size: 30px;
}

.delete_event_button {
  text-align: right;
  margin: 50px;
  margin-right: 100px;
}

.delete_button {
  font-size: 30px;
  font-weight: 600;
  border: solid 1px;
  border-radius: 2px;
  background: #00bfff55;
  box-shadow: 0px 2px 3px rgba(5,5,50,0.5);
}

.delete_button:active {
  transform: translateY(2px);
  color: #000;
}
